<!DOCTYPE html>

  <head>
    <title>Norris wa baka!</title>
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="side-nav"></div>
    <div class="content">
      <h1>Insert Really Awesome H1 about Poros.</h1>
      <p>Just adding random text stuff. Testing out what else to add and think... </p>
    </div>
    <div class="poroimage float-right top-poro"></div>

  </body>

</html>
