<!DOCTYPE html>

  <head>
    <title>Norris wa baka!</title>
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
  </head>
  <body>
    <h1 class="float-left">Poros are adorable.</h1>
    <div class="poroimage float-right top-poro"></div>
  </body>

</html>
