<!DOCTYPE html>

  <head>
    <title>Poro love~!</title>
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="top-section">
       <div class="ts-textbox">
        <h1>|yawn 1.0|</h1>
        <p>This is just a test run, <br>yes I know Norris -- no spaces.</p>
      </div>
    </div>

    <div class="mid-section">
      <div class="ms-textbox">
        <div class="ms-contentbox">
          <div class="ms-sidebox">
            <p>8.02.2016<br>2:45 pm</p>
          </div>
          <div class="ms-picbox">
            <div class="ms-innerpicbox">
              <div class="poroimage"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
