body {
  background-color: white;
  color: teal;
  margin: 0;
  padding: 0;
  border: 0;
}

.side-nav {
  width: 100px;
  top: 0;
  Bottom: 0;
  background-color: black;
  position: fixed;
}

.content {
  padding-left: 115px;

}

.poroimage {
  background-image: url("/images/poro.png");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-poro {
  margin: 0 100px 0 0;
}